127.0.0.1    localhost localhost.localdomain localhost4 localhost4.localdomain4
::1          localhost localhost.localdomain localhost6 localhost6.localdomain6
{% for host in ansible_play_hosts %}
{% if 'ansible_eth0' in hostvars[host] %}
{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}  {{ host }}  {{ host }}.{{ ilo_pce_fqdn }}
{% endif %}
{% endfor %}
{{ hostvars['haproxy']['ansible_default_ipv4']['address'] }}  {{ ilo_pce_fqdn }}
{{ hostvars['pxb']['ansible_default_ipv4']['address'] }}  {{ ilo_venrepo_fqdn }}
{{ hostvars['haproxy']['ansible_local']['custom']['network']['public_ip'] }}  {{ ilo_pce_fqdn }}
